* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px 60px;
    height: 100vh;

    .top {
        height: 60px;
    }

    .bottom {
        height: calc(100vh - 80px);
        display: flex;

        .left {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            /* background-color: teal; */
        }

        .right {
            flex: 7;
            /* background-color: rebeccapurple; */
            /* overflow: auto; */
        }
    }
}